* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pokemon-name {
  margin: 1rem;
  padding: 1rem;
}

#pokedex {
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Hide scrollbar for IE, Edge and Firefox */
.wrapper {
  height: 80vh;
  width: 35vw;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  transition-delay: 1s;
}
.wrapper::-webkit-scrollbar {
  display: none;
}

#list-of-pokemon {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.pokedex-entry {
  display: flex;
  flex-direction: row;
  width: 30vw;
  font-size: 3rem;
  background-color: gray;
  margin: 1rem;
  font-size: 2rem;
  color: white;
  text-shadow: 1px 0px 5px #fff;
  font-size: 3rem;
  border-radius: 30%;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.pokedex-entry:hover {
  cursor: pointer;
  box-shadow: 0 0 30px rgb(255, 255, 255);
}

.selected {
  background: rgb(98, 18, 18);
  background: linear-gradient(
    131deg,
    rgba(98, 18, 18, 1) 4%,
    rgba(162, 87, 87, 1) 22%,
    rgba(97, 47, 47, 1) 43%,
    rgba(154, 37, 37, 1) 62%,
    rgba(158, 16, 16, 1) 96%
  );
  transition: 1s;
  text-shadow: 1px 0px 5px rgb(209, 209, 9);
  box-shadow: 0 0 30px rgb(255, 255, 255);
}

.wrapper.no-display {
  width: 0;
  transition-delay: 0s;
}
.dummy.pokedex-entry {
  opacity: 0;
  cursor: auto;
}
.pokedex-entry-item {
  padding-left: 1rem;
}

body {
  height: 97vh;
  background: rgb(49, 45, 112);
  background: linear-gradient(
    76deg,
    rgba(49, 45, 112, 1) 0%,
    rgba(43, 43, 61, 1) 54%,
    rgba(28, 110, 126, 1) 100%
  );
}
.row {
  flex-direction: row;
}
