* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pokemon-name {
  margin: 1rem;
  padding: 1rem;
}

#pokedex {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Hide scrollbar for IE, Edge and Firefox */
.wrapper {
  height: 80vh;
  width: 35vw;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  transition-delay: 1s;
}
.wrapper::-webkit-scrollbar {
  display: none;
}

#list-of-pokemon {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.pokedex-entry {
  display: flex;
  flex-direction: row;

  font-size: 3rem;
  background-color: gray;
  margin: 1rem;
  color: black;
  font-size: 4rem;
  border-radius: 30%;
}
.pokedex-entry:hover,
.selected {
  background-color: red;
  cursor: pointer;
}

.wrapper.no-display {
  width: 0;
  transition-delay: 0s;
}
.dummy.pokedex-entry {
  opacity: 0;
  cursor: auto;
}
.pokedex-entry-item {
  padding-left: 1rem;
}

.content {
  background-color: white;
}
