#details {
  color: black;
  word-wrap: break-word;
  flex-basis: 60%;
  overflow-y: scroll;
  flex-grow: 1;
  margin: 2rem;
}

#card {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 5px solid red;
  width: 90%;
  border-radius: 2rem;
  height: 80%;
}

#showcase {
  height: 80vh;
  overflow: hidden;
  border-bottom-left-radius: 2rem;
  border-right: 5px solid red;
}

#description {
  color: black;
  margin-top: 5rem;
  font-size: 2rem;
  text-align: center;
  background-color: navajowhite;

  height: 25%;
}
.expanded-card {
  position: absolute;
  left: 0;
  width: 100%;
}
